<h2 id="teaching">Teaching</h2>

<p>At Adelaide University (formerly The University of Adelaide):</p>

<ul class="cv-list">
  <li>
    <span class="cv-date">Semester 1, 2026</span>
    <span class="cv-detail">Teaching Assistant, Neural Networks and Deep Learning (ARTI&nbsp;X300)</span>
  </li>
  <li>
    <span class="cv-date">Semester 2, 2025</span>
    <span class="cv-detail">Guest Lecturer &amp; Head Tutor, Statistical Machine Learning (COMP&nbsp;SCI&nbsp;3314).</span>
  </li>
  <li>
    <span class="cv-date">Trimester 2, 2025</span>
    <span class="cv-detail">Teaching Assistant, Using Machine Learning Tools (COMP&nbsp;SCI&nbsp;7317)</span>
  </li>
  <li>
    <span class="cv-date">Semester 1, 2025</span>
    <span class="cv-detail">Teaching Assistant, Concepts in AI and ML (COMP&nbsp;SCI&nbsp;7327)</span>
  </li>
</ul>

<h2 id="academic-service">Academic Service</h2>

<div class="service-block">
  <p>Conference Reviewer:</p>
  <ul>
    <li>International Conference on Learning Representations (ICLR) 2026</li>
    <li>International Conference on Machine Learning (ICML) 2026, <em>Silver Reviewer Award</em></li>
    <li>Conference on Neural Information Processing Systems (NeurIPS) 2026</li>
  </ul>

  <p>Journal Reviewer:</p>
  <ul>
    <li>Transactions on Machine Learning Research (TMLR)</li>
  </ul>
</div>
